@import "../../styles/Color.scss";

.facts {
  background-color: $brown-800;
  position: absolute;
  z-index: -3;
  inset: 0px 0px 0px 0px;
  background-image: url("../../images/facts/picture.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;

  &__wrapper {
    margin: 5rem 8rem 2rem 8rem;
    position: absolute;
    bottom: 0;
  }

  &__slider {
    margin: 0 0 9rem 0;
  }

  &__slider-item {
    h2 {
      font-size: 4rem;
      font-family: "Oswald", sans-serif;
      color: $title;
      position: relative;
      margin: 0 0 1rem 1rem;
      &:before {
        content: " ";
        top: 22px;
        left: -1rem;
        position: absolute;
        width: 5px;
        height: 55px;
        background-color: $title;
      }
    }

    p {
      font-weight: 300;
      color: $white;
      font-size: 2rem;
      max-width: 50rem;
    }

    a {
      display: inline-block;
      text-decoration: none;
      margin: 2rem 0 0 0;
      font-size: 1.2rem;
      font-family: "Montserrat", sans-serif;
      color: $white;
      padding: 1.4rem 1rem;
      background-color: $brown-400;
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
    }
  }
}

.tns-nav {
  text-align: center;
  button {
    width: 1rem;
    height: 1rem;
    margin: 0 1rem 0 0;
    border-radius: 50%;
    background-color: $not-active;
    border: none;
  }

  button:active {
    background-color: $active;
  }
}

.tns-nav-active {
  background-color: $active !important;
}
