@import "Color.scss";

body {
  background-color: $brown-800;
  color: $white;
}

.header {
  display: flex;
  position: relative;
  justify-content: center;
  padding: 8rem 0 5rem 0;
  text-transform: uppercase;
  margin: 0px 0px 0px 0px;
  font-family: "Oswald", sans-serif;
  line-height: 3rem;

  h1 {
    font-size: 2rem;
    margin: 0;
    max-width: 9rem;
    text-align: center;
    color: $title;
  }

  h1 {
    order: 2;
  }

  h2:nth-of-type(1) {
    order: 1;
  }
  h2:nth-of-type(2) {
    order: 3;
  }

  &__counter {
    position: absolute;
    display: flex;
    align-items: center;
    top: 170px;
    right: 41%;
    color: $title;

    &-marker {
      position: absolute;
      width: 10px;
      height: 10px;
      background-color: $brown-600;
      border-radius: 50%;
      border: 1px solid $title;
      left: 0;

      p {
        margin: -2.5rem 0 0 0;
        text-align: center;
      }
    }

    &-line {
      width: 200px;
      height: 1px;
      background-color: $title;
      margin-right: 1rem;
    }
  }
}

main {
  position: relative;
}

.overlay {
  position: absolute;
  inset: 0px 0px 0px 0px;
  background-image: url("../images/bogen.png");
  background-size: cover;
  background-repeat: no-repeat;
}

main .content {
  display: flex;
  justify-content: center;
  grid-column-gap: 10rem;

  &__column {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 4rem;
    font-family: "Montserrat", sans-serif;
  }

  p {
    margin: 0 0 0.2rem 0;
    min-width: fit-content;
    font-size: 0.6rem;
  }
}

footer {
  display: flex;
  justify-content: center;
  position: relative;
}

.interface {
  background-color: $brown-400;
  padding: 1rem 1rem;
  bottom: 0;
  position: fixed;

  &__button {
    background-color: $brown-800;
    color: $white;
    padding: 0.3rem;
    margin-right: 0.5rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

.randomName {
  &--highlighted {
    color: $highlight;
    font-size: 1rem !important;
  }

  &--highlighted-personal {
    color: $highlight;
    font-size: 1rem !important;

    &__image {
      position: fixed;
      width: 30%;
      bottom: -100px;
      z-index: 0;
      right: -50%;
      animation: slide 2s forwards;
    }

    @keyframes slide {
      100% {
        right: 0;
      }
    }
  }
}
