// Backgrounds

$brown: #2a2b2a;
$brown-800: #674f40;
$brown-600: #968678;
$brown-400: #c7b7a3;
$brown-200: #ede4cd;

// Titles

$title: #bdad99;
$highlight: #ffbd71;

// Buttons

$active: #ede4cd;
$not-active: rgba(247, 247, 247, 0.5);

// Standard

$white: #ffffff;
$black: #000000;
