.stories {
  background-color: $brown-800;
  padding: 80px 60px;
  &__top {
    padding-bottom: 20px;
    border-bottom: 2px solid $brown-600;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    input {
      background-color: $white !important;
      background: url("../../../images/personalStories/search-icon.svg")
        no-repeat 20px;
      border-radius: 100px;
      width: 310px;
      padding: 0 50px;
      height: 60px;
      margin-bottom: 40px;
      font-size: 1.1em;
      font-weight: 500;
      align-self: flex-end;
    }
    p {
      color: $brown-200;
      font-size: 1.1em;
      font-weight: 500;
      width: 100%;
      text-align: left;
    }
  }
  &__list {
    padding: 40px 0;
    a {
      text-decoration: none;
    }
    ul {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 2em;
      li {
        background-color: $brown-400;
        border-radius: 15px;
        list-style-type: none;
        padding: 45px 20px;
        cursor: pointer;
        box-shadow: 0 10px 10px #0000001e;
        h2 {
          color: $brown-800;
          font-size: 3em;
          text-align: center;
        }
        p {
          margin-top: 10px;
          font-weight: 500;
          font-size: 0.9em;
          color: $brown-800;
          text-align: center;
        }
      }
    }
  }
}
