.wrapper {
  &__title {
    color: #ede4cd;
    font-size: 80px;
  }
  &__paragraph {
    color: #ede4cd;
  }
  &__section1 {
    height: 100vh;
    min-height: 600px;
    background-color: #674f40;
    background-image: url(../../Images/PersonalStories/hero-section-background.png);
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 800px;
  }
}
